
# /
/configure
/Makefile
/config.log
/config.h
/config.status
/config.h.in
/y.tab.c
/y.tab.h
/lex.yy.c
/dgl-wall
/dgamelaunch
/nethackstub
/.depend
/*.o
/virus
/ee
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/dgamelaunch/v16/ipch/AutoPCH/8636d3752d25bda3/TTYREC.ipch
/.vs/dgamelaunch/v16/ipch/AutoPCH/8636d3752d25bda3
/.vs/dgamelaunch/v16/Browse.VC.opendb
/.vs/dgamelaunch/v16/Browse.VC.db
/.vs/dgamelaunch/v16/.suo
/.vs/dgamelaunch/v16
/.vs
